/*****************/
/* CORES */
/*****************/

:root {
  -c-preto: rgb(6, 4, 9);
  -c-roxo: rgb(43, 35, 46);
  -c-violeta: rgb(156, 145, 161);
  -c-laranja: rgb(175, 80, 12);
  -c-beje: #c89449;
}

/*****************/
/*  BODY  */
/*****************/

body {
  background-image: linear-gradient(
      to top,
      rgb(156, 145, 161),
      rgb(156, 145, 161)
    ),
    url(./stock_photos/picography-beaver-skull-macro.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Inconsolata", monospace;
}

.icons {
  max-width: 50px;
}

.img {
  max-width: 300px;
}

a {
  text-decoration: none;
  color: rgb(6, 4, 9);
}

/*****************/
/*   GRID   */
/*****************/

.container {
  display: grid;
  overflow: hidden;
}

.cell {
  margin: 5%;
}

/*****************/
/* HEADER */
/*****************/

.header {
}

.title {
  padding-top: 150px;
  height: 300px;
}

.title img {
  display: flex;
  margin: auto;
  max-width: 500px;
}

.nav {
  display: grid;
  margin: 0;
  width: 100%;
}

.left {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

.left ul {
  list-style: none;
  display: flex;
  color: rgb(6, 4, 9);
}

.left a:hover {
    color: rgb(175, 80, 12);
    transition-property: color;
    transition-duration: 400ms;
}

.left ul li {
  margin-right: 30px;
}

.right {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  padding-top: 16px;
  padding-right: 5px;
}

.right a {
  margin: 5px;
  background-color: rgba(6, 4, 9, 0.651);
  color: rgb(156, 145, 161);
  padding: 8px 45px;
  transition-property: background-color;
  transition-duration: 400ms;
}

.right a:hover {
  background-color: rgb(6, 4, 9);
  color: rgb(156, 145, 161);
}

/*****************/
/* SEARCH BAR */
/*****************/

.barra {
  padding-top: 15px;
  padding-left: 25px;
}

.barra input {
  width: calc(100% - 80px);
  background-color: var(-c-beje);
  border: none;
  height: 30px;
}

.barra input:focus {
  border: none;
  outline-style: none;
}

.barra a {
  background-color: rgba(6, 4, 9, 0.651);
  color: rgb(156, 145, 161);
  padding: 5px;
  transition-property: background-color;
  transition-duration: 400ms;
}

.barra a:hover {
  background-color: rgb(6, 4, 9);
  color: rgb(156, 145, 161);
}

/*****************/
/* CORPO */
/*****************/

.corpo {
  display: grid;
  grid-gap: 5%;
  text-align: justify;
  padding: 5%;
}

.corpo a {
  color: rgb(200, 148, 73);
  transition-property: color;
  transition-duration: 400ms;
}

.corpo a:hover {
  color:rgb(175, 80, 12);
}

.corpo img {
  display: block;
  margin: auto;
}

.um {
  grid-column: 1/4;
  grid-row: 1;
  background-image: linear-gradient(to top, rgb(14, 7, 17), rgb(156, 145, 161)),
    url(./imagem7.jpg);
  background-size: 200%;
  background-blend-mode: soft-light;
}

.um img {
  max-width: 500px;
}

.um p {
  display: block;
  margin: auto;
  margin-top: 15px;
  max-width: 500px;
}

.dois {
  grid-column: 4/6;
  grid-row: 1;
  background-image: linear-gradient(to top, rgb(14, 7, 17), rgb(156, 145, 161)),
    url(./imagem5.jpg);
  background-size: 200%;
  background-position: bottom;
  background-blend-mode: soft-light;
}

.tres {
  grid-column: 1/2;
  grid-row: 2;
  background-image: linear-gradient(to top, rgb(14, 7, 17), rgb(156, 145, 161)),
    url(./imagem3.jpg);
  background-size: 200%;
  background-blend-mode: soft-light;
}

.quatro {
  grid-column: 3/4;
  grid-row: 2;
  background-image: linear-gradient(to top, rgb(14, 7, 17), rgb(156, 145, 161)),
    url(./imagem4.jpg);
  background-size: 200%;
  background-position: center;
  background-blend-mode: soft-light;
}

.cinco {
  grid-column: 5/6;
  grid-row: 2;
  background-image: linear-gradient(to top, rgb(14, 7, 17), rgb(156, 145, 161)),
    url(./imagem1.jpg);
  background-size: 200%;
  background-position: center;
  background-blend-mode: soft-light;
}

.um,
.dois,
.tres,
.quatro,
.cinco {
  background-color: rgba(6, 4, 9, 0.651);
  width: auto;
  color: rgb(156, 145, 161);
  padding: 5px;
  padding-top: 20px;
  transition-property: background-color;
  transition-duration: 400ms;
}

.um {
  padding-top: 50px;
}

.um:hover,
.dois:hover,
.tres:hover,
.quatro:hover,
.cinco:hover {
  background-color: rgba(6, 4, 9, 0.87);
  color: rgb(156, 145, 161);
}

/*****************/
/* ASIDE */
/*****************/

.aside {
  display: grid;
  padding-left: 70px;
}

.sub {
  grid-row: 1;
  grid-column: 1;
  text-align: right;
}

.but {
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: left;
  padding-top: 40px;
  padding-left: 60px;
}

.but a {
  background-color: rgba(6, 4, 9, 0.651);
  color: rgb(156, 145, 161);
  padding: 10px 50px;
  transition-property: background-color;
  transition-duration: 400ms;
}

.but a:hover {
  background-color: rgb(6, 4, 9);
  color: rgb(156, 145, 161);
}

/******************/
/*     FOTTER    */
/****************/

.footer {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer li {
  display: inline;
}

.footer > .left {
  order: 1;
  margin-top: 10px;
}

.footer > .left img {
  margin-right: 10px;
}

.footer > .right {
  order: 2;
  margin-bottom: 25px;
}

.footer > .right a {
  background: none;
  color: rgb(6, 4, 9);
  transition-property: color;
  transition-duration: 400ms;
}

.footer > .right a:hover {
  color: rgb(175, 80, 12);
}

footer {
  color: rgb(6, 4, 9);
  text-align: center;
}

.small {
  text-align: center;
  font-size: 10px;
}


@-o-viewport {
  width: auto;
}